.Pan
  - breadcrumb :favorites
  = render "layouts/breadcrumbs"
.MyPage
  = render "items/sidebar"

  .MyPage__MainField
    .MyPage__MainField__Title
      お気に入り一覧
      %hr
    .ListingMenu
      %table.ProductsList
        %tbody
          %tr
            %th
              = link_to "", class: 'no-underline' do
                = image_tag "", class: 'product_image'
            %td{valign: "top"}
              = link_to "", class: 'link_color no-underline' do
                = "商品名：パン"