.ForgotPassContainer
  %h2.ForgotPassHeader
    パスワードをお忘れの方
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'ForgotPassForm' }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .ForgotPassForm__PassInput
      .basic-field
        = f.label :メールアドレス, class: "label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録されたメールアドレス", class: "temp-input-form"
      %p ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
      .actions
        = f.submit "送信する", class: "send-btn"
  = render "devise/shared/links"
