%tr
  %th
    = link_to product_path(product.id), class: 'no-underline' do
      = image_tag product.images[0].image_url, class: 'product_image'
  %td{valign: "top"}
    = link_to product_path(product.id), class: 'link_color no-underline' do
      = "商品名：#{product.name}"
  %td
    - if product.sold_out_flg
      .Edit-btn
        = link_to "配送手続完了", "#", class: 'btn_edit-small'
    - else
      .Edit-btn
        = link_to edit_product_path(product.id), class: 'btn_edit-small' do
          編集する
      .Edit-btn
        = link_to "削除する", "#", class: 'btn_delete-small'


