%tr
  %th
    = link_to product_path(product.id), class: 'no-underline' do
      = image_tag product.images[0].image_url, class: 'product_image'
  %td{valign: "top"}
    = link_to product_path(product.id), class: 'link_color no-underline' do
      = "商品名：#{product.name}"
  %td{width: "90"}
    - if product.sold_out_flg == 1
      .Edit-btn
        = link_to "配送完了", mypage_listing_path(product.id), class: 'btn_edit-small', method: :put
    - else
      .Edit-btn
        = link_to "編集する", edit_product_path(product.id), class: 'btn_edit-small'
      .Edit-btn
        = link_to "削除する", product_path(product.id), class: 'btn_delete-small', method: :delete


