.Pan
  - breadcrumb :listings
  = render "layouts/breadcrumbs"
.MyPage
  = render "items/sidebar"

  .MyPage__MainField
    .MyPage__MainField__Title
      出品商品情報
    .ListingMenu
      %ul.ListingMenu__Tab
        = link_to "#", class: "menu_item no-underline  active" do
          %li 出品中
        = link_to "#", class: "menu_item no-underline" do
          %li 取引中
        = link_to "#", class: "menu_item no-underline" do
          %li 売却済み
      %ul.Contents
        %li.Content.show
          %table.ProductsList
            %tbody
              = render partial: "product", collection: @products_sale

        %li.Content
          %table.ProductsList
            %tbody
              = render partial: "product", collection: @products_soldout

        %li.Content
          %table.ProductsList
            %tbody
              - @products_finite.each do |product|
                %tr
                  %th
                    = link_to product_path(product.id), class: 'no-underline' do
                      = image_tag product.images[0].image_url, class: 'product_image'
                  %td{valign: "top"}
                    = link_to product_path(product.id), class: 'link_color no-underline' do
                      = "商品名：#{product.name}"
          