.MyPage
  = render "items/sidebar"

  .MyPage__MainField
    .MyPage__MainField__Title
      出品商品情報
    .ListingMenu
      %ul.ListingMenu__Tab
        = link_to "#", class: "menu_item no-underline  active" do
          %li 出品中
        = link_to "#", class: "menu_item no-underline" do
          %li 取引中
        = link_to "#", class: "menu_item no-underline" do
          %li 売却済み
      %ul.Contents
        %li.Content.show
          %table.ProductsList
            %tbody
              = render partial: "product", collection: @products_sale

        %li.Content
          %table.ProductsList
            %tbody
              = render partial: "product", collection: @products_soldout

        %li.Content
          = render "products_list"