
.MainPicture
  .MainPicture__Content
    .MainPicture__Content__Title
      人生を変えるフリマアプリ
    .MainPicture__Content__Text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .MainPicture__Content__Icon
      = image_tag ('topimage/app-store.svg'), class: "app_image"
      = image_tag ('topimage/google-play.svg'), class: "app_image"
.MainIntroduce
  .MainIntroduce__Title
    FURIMAが選ばれる３つの理由
    .MainIntroduce__Title__Border
  .MainIntroduce__Lists
    .MainIntroduce__Lists__List
      .MainIntroduce__Lists__List__Box
        .MainIntroduce__Lists__List__Box--img
          = image_tag ('topimage/pict-reason-01.jpg'), class: "list_image"
        .MainIntroduce__Lists__List__Box--num
          1
      .MainIntroduce__Lists__List__Text
        %span.color 3分
        ですぐに出品
      .MainIntroduce__Lists__List__Description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .MainIntroduce__Lists__List
      .MainIntroduce__Lists__List__Box
        .MainIntroduce__Lists__List__Box--img
          = image_tag ('topimage/pict-reason-02.jpg'), class: "list_image"
        .MainIntroduce__Lists__List__Box--num
          2
      .MainIntroduce__Lists__List__Text
        %span.color シンプル
        で使いやすい
      .MainIntroduce__Lists__List__Description
        スマホで入力するだけで簡単に出品出来る！
    .MainIntroduce__Lists__List
      .MainIntroduce__Lists__List__Box
        .MainIntroduce__Lists__List__Box--img
          = image_tag ('topimage/pict-reason-03.jpg'), class: "list_image"
        .MainIntroduce__Lists__List__Box--num
          3
      .MainIntroduce__Lists__List__Text
        手数料
        %span.color 業界最安
      .MainIntroduce__Lists__List__Description
        最大３％でお得に出品＆購入！

.SubPicture
  .SubPicture__Title
    会員数日本一位
  .SubPicture__Text
    FURIMAは、フリマアプリで最も人気。
    %br出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれない
  .SubPicture__Icon
    = image_tag ('topimage/app-store.svg'), class: "app_image"
    = image_tag ('topimage/google-play.svg'), class: "app_image"
.MainFeatures
  .MainFeatures__Top
    FURIMAの特徴
    .MainFeatures__Top__Border
  .MainFeatures__Contents
    .MainFeatures__Contents__Content
      .MainFeatures__Contents__Content__Image
        = image_tag ('topimage/icon-01.png'), class: "content_image"
      .MainFeatures__Contents__Content__Subtitle
        簡単に売り買い
        %brできる
      .MainFeatures__Contents__Content__Text
        スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
    .MainFeatures__Contents__Content
      .MainFeatures__Contents__Content__Image
        = image_tag ('topimage/icon-03.png'), class: "content_image"
      .MainFeatures__Contents__Content__Subtitle
        簡単に売り買い
        %brできる
      .MainFeatures__Contents__Content__Text
        スマホ一つで、いつでもどこでも簡単に出品・購入が可能！
    .MainFeatures__Contents__Content
      .MainFeatures__Contents__Content__Image
        = image_tag ('topimage/icon-04.png'), class: "content_image"
      .MainFeatures__Contents__Content__Subtitle
        簡単に売り買い
        %brできる
      .MainFeatures__Contents__Content__Text
        スマホ一つで、いつでもどこでも簡単に出品・購入が可能！

.PickupCategory
  .PickupCategory__Top
    ピックアップカテゴリー
  .PickupCategory__Title
    新規投稿商品
  .PickupCategory__Products
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/IMG_9072.jpeg'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product1
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            10000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/a007.png'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product2
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            20000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/a004.png'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product3
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            30000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/a001.png'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product4
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            40000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
.PickupCategory
  .PickupCategory__Top
    ピックアップブランド
  .PickupCategory__Title
    アーカイバ
  .PickupCategory__Products
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/IMG_9072.jpeg'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product1
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            10000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/a007.png'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product2
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            20000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/a004.png'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product3
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            30000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
    .ProductBox
      .ProductBox__Image
        = image_tag ('topimage/a001.png'), class: "product_image"
      .ProductBox__Info
        .ProductBox__Info__Name
          product4
        .ProductBox__Info__Ele
          .ProductBox__Info__Ele__Price
            40000円
          .ProductBox__Info__Ele__Favorite
            %i.fa.fa-star.likeIcon
            0
        .ProductBox__Info__Tax
          (税込)
