.Pan
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"
.MyPage
  = render "sidebar"

  .MyPage__MainField
    .MyPage__MainField__Image
      .MyPage__MainField__Image--smile
        = image_tag ('mypage/smile.png'), class: 'image-smile'
      .MyPage__MainField__Image--UserName
        = current_user.nickname
      .MyPage__MainField__Image--faivorit
        = "お気に入り ⭐️#{current_user.favorites.length}"

    .ListingMenu
      %ul.ListingMenu__Tab
        = link_to "#", class: "menu_item no-underline  active" do
          %li お知らせ
        = link_to "#", class: "menu_item no-underline" do
          %li やることリスト
      %ul.Contents
        %li.Content.show
          メッセージはありません
        %li.Content
          メッセージはありません
