.MyPage
  = render "items/sidebar"

  .MyPage__MainField
    .MyPage__MainField__Title
      クレジットカード情報
      %hr
    .BodyCard
      .BodyCard__Info
        = form_with model: @card, url: mypage_cards_path, local: true do |f|
          %table.BodyCard__Info--table
            %tbody
              %tr
                %td
                  = f.radio_button :"", class: '', checked: true
                %td
                  = image_tag ('cards/visa.svg'), class: 'card_image'
                  %br
                  カード番号：************1234
                  %br
                  有効期限　：03/21
                %td
                  = link_to "削除する", new_mypage_card_path, class: 'btn-small'
              %tr
                %td
                  = f.radio_button :"", class: ''
                %td
                  = image_tag ('cards/jcb.svg'), class: 'card_image'
                  %br
                  カード番号：************4242
                  %br
                  有効期限　：01/22
                %td
                  = link_to "削除する", "#", class: 'btn-small'

      .BodyCard--btn
        = link_to "クレジットカードを追加する", new_mypage_card_path, class: 'Button'
