.Pan
  - breadcrumb :products
  = render "layouts/breadcrumbs"
.productLists
  .productList
    %h1.listTitle 出品商品一覧
    .productField
      - @products.each do |product|
        .productField__ProductBox
          = link_to product_path(product.id), class: "productLink" do
            .productField__ProductBox__Image
              - if product.sold_out_flg == 1
                = image_tag ('topimage/sold_out.png'), class: "relationImg soldOut_flg"
              = image_tag product.images[0].image_url, class: "relationImg"
              .productField__ProductBox__Info
                .prductField__ProductBox__Info__Name
                  = product.name
                .productField__ProductBox__Info__Ele
                  .prductField__ProductBox__Info__Ele__Price 
                    = "¥#{number_with_delimiter(product.price)}"
                  .productField__ProductBox__Info__Ele__Favorite
                    ⭐️
                    0
                .productField__ProductBox__Info__Tax
                  (税込)
