.Pan
  - breadcrumb :purchase
  = render "layouts/breadcrumbs"
.Purchase
  = form_with url: pay_products_path(@product.id), local: true do |f|
    .MarginBox
    .Purchase__Title
      購入内容の確認
    .Purchase__Info
      %hr
      .Purchase__Info__Box
        .Purchase__Info__Box--image
          = image_tag @product.images[0].image_url, class: 'product_image'
        .Purchase__Info__Box__ele
          .Purchase__Info__Box__ele--title
            = @product.name 
          .Purchase__Info__Box__ele--price
            = "（税込）¥#{number_with_delimiter(@product.price)}"
      %hr
      .Purchase__Info__Box
        .Purchase__Info__Box--PayTitle
          お支払い金額
        .Purchase__Info__Box--PayPrice
          = "¥#{number_with_delimiter(@product.price)}"
      %hr
      .Purchase__Info__Box
        .Purchase__Info__Box__left
          .Purchase__Info__Box__left--name
            支払い方法
          .Purchase__Info__Box__left--ele
            - if !@card.blank?
              - exp_month = @customer_card.exp_month.to_s
              - exp_year = @customer_card.exp_year.to_s.slice(2,3)
              %table.BodyCard__Info--table
                %tbody
                  %tr
                    %td
                      = image_tag (@card_src), class: 'card_image'
                      %br
                      カード番号：
                      = "**** **** **** " + @customer_card.last4
                      %br
                      有効期限　：
                      = exp_month + " / " + exp_year
        .Purchase__Info__Box__right
          = link_to "変更する", ""

      %hr
      .Purchase__Info__Box
        .Purchase__Info__Box__left
          .Purchase__Info__Box__left--name
            配送先
          .Purchase__Info__Box__left--ele
            .Purchase__Info__Box__left--ele--postal
              = "〒#{current_user.send_destination.postal_code.to_s[0..2]}-#{current_user.send_destination.postal_code.to_s[3..]}"
            .Purchase__Info__Box__left--ele--address
              = current_user.send_destination.prefectures + current_user.send_destination.municipalities + current_user.send_destination.address + current_user.send_destination.building
            .Purchase__Info__Box__left--ele--tel
              = "TEL：#{current_user.send_destination.phone_number}"
            .Purchase__Info__Box__left--ele--name
              = current_user.send_destination.family_name + current_user.send_destination.first_name
        .Purchase__Info__Box__right
          = link_to "変更する", edit_mypage_destination_path(current_user.id)
      %hr
      .Purchase__Info__Submit
        - if @card.blank?
          .editBtn
            .message 購入にはクレジットカードの登録が必要です
        - else
          .editBtn
            = f.submit "購入する", class: "buyBtn purchaseBtn"
  .MarginBox
