.Pan
  - breadcrumb :product_show
  = render "layouts/breadcrumbs"
.main
  .main__showMain
    .main__showMain__contents
      .main__showMain__contents__topContent
        .main__showMain__contents__topContent__itemBox
          %h2.main__showMain__contents__topContent__itemBox__name 
            = @product.name
          .main__showMain__contents__topContent__itemBox__image
            .imageBox
              .mainImage
                - if @product.sold_out_flg == 1
                  = image_tag ('topimage/sold_out.png'), class: "mainSoldOut"
                = image_tag @product.images[0].image_url, class: "img", id: "main-img"
                .imgList
                  .lists
                    - @product.images.each do |image|
                      = image_tag image.image_url, class: "imgs"
          .main__showMain__contents__topContent__itemBox__price
            %span 
              = "¥#{number_with_delimiter(@product.price)}"
            .main__showMain__contents__topContent__itemBox__price__tax
              (税込) 送料込み

          .main__showMain__contents__topContent__itemBox__explanation
            = @product.introduce
          .main__showMain__contents__topContent__itemBox__table
            %table.showInfo
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td.category--td
                    = @product.kind.root.name
                    %br
                    = @product.kind.parent.name
                    %br
                    = @product.kind.name
                %tr
                  %th ブランド
                  %td 
                    = @product.brand.name
                -# %tr
                -#   %th 商品のサイズ
                -#   %td 
                %tr
                  %th 商品の状態
                  %td 
                    = @product.condition.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @product.postage.name
                %tr
                  %th 発送元の地域
                  %td 
                    = @product.prefecture.name
                %tr
                  %th 発送日の目安
                  %td 
                    = @product.shipment.name

          .main__showMain__contents__topContent__itemBox__choiceArea
            .report
              .likeBtn
                = icon('fa', 'star starIcon')
                = link_to "お気に入り 0", "#", class: "starBtn"
            .report
              .reportBtn
                = icon('fa', 'flag flagIcon')
                = link_to "不適切な商品の通報", "#", class: "flagBtn"


          .main__showMain__contents__topContent__itemBox__buttonBox
            - if user_signed_in? && current_user.id == @product.user_id
              - if @product.sold_out_flg == 0
                .editBtn
                  = link_to edit_product_path(@product.id), class: 'edit-Btn' do
                    編集する
                .editBtn
                  = link_to "削除する", product_path(@product.id), class: 'deleteBtn', method: :delete
              - else
                .editBtn
                  = link_to "配送完了しました", mypage_listing_path(@product.id), class: 'edit-Btn', method: :put
            - else
              - if @product.sold_out_flg == 0
                .editBtn
                  = link_to "購入画面に進む", purchase_products_path(@product.id), class: 'buyBtn'
              - else
                .editBtn
                  %h2.soldOut 売り切れました


        .main__showMain__contents__topContent__commentArea
          .comment-show-field
            - if @comments
              %h3 ＜質問・コメント＞
              .comment-box
                - @comments.each do |comment|
                  %p
                  = comment.user.nickname
                  %strong ：
                  = comment.text

          .comment-write-field
            - if current_user
              %p.careful-text 相手のことを考えて丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
              = form_with(model: [@product, @comment], html: {class: "comment-form"}, local: true) do |form|
                = form.text_area :text, rows: "4", class: "comment-form__text-form"
                = form.submit "コメントする", class: "comment-form__comment-btn"
            - else
              %p.need-login ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

        .pageMove
          .pageMove__frontPage
            = icon('fa', 'angle-left front')
            = link_to "前の商品", "#", class: "pages"

          .pageMove__nextPage
            = link_to "後ろの商品", "#", class: "pages"
            = icon('fa', 'angle-right next')

      .main__showMain__contents__moreItems
        = link_to "もっと見る", "#", class: "more"
        
        .productField
          - @products_kind.each do |kind|
            .productField__ProductBox
              = link_to product_path(kind.id), class: "productLink" do
                .productField__ProductBox__Image
                  - if kind.sold_out_flg == 1
                    = image_tag ('topimage/sold_out.png'), class: "relationImg soldOut_flg"
                  = image_tag kind.images[0].image_url, class: "relationImg"
                  .productField__ProductBox__Info
                    .prductField__ProductBox__Info__Name
                      = kind.name
                    .productField__ProductBox__Info__Ele
                      .prductField__ProductBox__Info__Ele__Price
                        = "¥#{number_with_delimiter(kind.price)}"
                      .productField__ProductBox__Info__Ele__Favorite
                        = icon('fa','star likeIcon')
                        0
                    .productField__ProductBox__Info__Tax
                      (税込)

