.main

  .main__showMain
    .main__showMain__contents

      .main__showMain__contents__topContent

        .main__showMain__contents__topContent__itemBox

          %h2.main__showMain__contents__topContent__itemBox__name 
            = @product.name

          .main__showMain__contents__topContent__itemBox__image
            .imageBox
              .mainImage
                = image_tag @product.images[0].image_url, class: "img", id: "main-img"
                .imgList
                  .lists
                    - @product.images.each do |image|
                      = image_tag image.image_url, class: "imgs"
          .main__showMain__contents__topContent__itemBox__price
            %span 
              ¥
              = @product.price
            .main__showMain__contents__topContent__itemBox__price__tax
              (税込) 送料込み

          .main__showMain__contents__topContent__itemBox__explanation
            = @product.introduce
          .main__showMain__contents__topContent__itemBox__table
            %table.showInfo
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td 
                    = @product.kind.name
                %tr
                  %th ブランド
                  %td 
                    = @product.brand.name
                %tr
                  %th 商品のサイズ
                  %td 
                %tr
                  %th 商品の状態
                  %td 
                    = @product.condition.name
                %tr
                  %th 配送料の負担
                  %td 
                    = @product.postage.name
                %tr
                  %th 発送元の地域
                  %td 
                    = @product.prefecture.name
                %tr
                  %th 発送日の目安
                  %td 
                    = @product.shipment.name

          .main__showMain__contents__topContent__itemBox__choiceArea
            .report
              .likeBtn
                = icon('fa', 'star starIcon')
                = link_to "お気に入り 0", "#", class: "starBtn"
            .report
              .reportBtn
                = icon('fa', 'flag flagIcon')
                = link_to "不適切な商品の通報", "#", class: "flagBtn"


          .main__showMain__contents__topContent__itemBox__buttonBox
            - if user_signed_in? && current_user.id == @product.user_id
              .editBtn
                = link_to edit_product_path(@product.id), class: 'edit-Btn' do
                  編集する
              .editBtn
                = link_to "削除する", "#", class: 'deleteBtn'
            - else
              - if @product.sold_out_flg == false
                .editBtn
                  = link_to "購入画面に進む", "#", class: 'buyBtn'
              - else
                .editBtn
                  %h2.soldOut 売り切れました


        .main__showMain__contents__topContent__commentArea
          %form.commentForm
            %textarea
            %p.notes
              相手のことを考えて丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentBtn
              = icon('fa', 'comment')
              コメントする
        .pageMove
          .pageMove__frontPage
            = icon('fa', 'angle-left front')
            = link_to "前の商品", "#", class: "pages"

          .pageMove__nextPage
            = link_to "後ろの商品", "#", class: "pages"
            = icon('fa', 'angle-right next')

      .main__showMain__contents__moreItems
        = link_to "もっと見る", "#", class: "more"
        
        .productField
          - @products_kind.each do |kind|
            .productField__ProductBox
              = link_to product_path(kind.id), class: "productLink" do
                .productField__ProductBox__Image
                  = image_tag kind.images[0].image_url, class: "relationImg"
                  .productField__ProductBox__Info
                    .prductField__ProductBox__Info__Name
                      = kind.name
                    .productField__ProductBox__Info__Ele
                      .prductField__ProductBox__Info__Ele__Price
                        ¥
                        = kind.price
                      .productField__ProductBox__Info__Ele__Favorite
                        = icon('fa','star likeIcon')
                        0
                    .productField__ProductBox__Info__Tax
                      (税込)

